body{
    margin:0;
    padding:0;
    font-family: "Open Sans";
    font-size: 10pt;
}

#topsection{
    border-bottom: solid 1px #ddd;
}

h1, h2 {
    padding: 10px;
    margin: 0;
}

/* From: http://matthewjamestaylor.com/blog/holy-grail-no-quirks-mode.css */
#contentwrapper{
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
    border-bottom: solid 1px #ddd;
}

#colmid {
    float:left;
    width:200%;
    position:relative;
    left:200px;
}

#colright {
    float:left;
    width:100%;
    position:relative;
    left:50%;
    margin-left:-600px;
}

#col1wrap {
    float:right;
    width:50%;
    position:relative;
    right:100%;
}

#col1pad {
    margin:0 15px 0 415px;
    overflow:hidden;
    border-right: solid 1px #ddd;
}

#viewerContainer {
    width:100%;
    overflow:hidden;
    line-height: 150%;
}

#treeContainer {
    float:left;
    width:200px;
    position:relative;
    margin-left:-50%;
    left:215px;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 600px;
}

#dataContainer {
    float:left;
    width:400px;
    position:relative;
    left:0px;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 600px;
}

canvas {
    display: block;
    width: 100%;
    height: 600px;
    cursor: default;
}

#status {
    border-bottom: solid 1px #ddd;
    padding: 5px 15px;
    clear: both;
}

#typeSelector {
    border-top: solid 1px #ddd;
    padding: 2px 12px;
}

#typeSelector  div {
    margin: 0 5px 0 0;
    padding: 3px;
    border: solid 1px #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}

#typeSelector  div.inactive:before {
    color: #ddd;
}

#typeSelector  div:hover {
    border-color: #ddd;
}

#typeSelector  div:before {
    margin-right: 5px;
}
